@model Course
<div class="card" style="max-width: 400px;">
    
    <div class="card-body">
        <h5 class="card-title">Name: @Model.Name</h5>
        <p class="card-text">Degree: @Model.Degree</p>
        <p class="card-text">Hours: @Model.Hours</p>
        

        <a href="/Instructor/Index" class="btn btn-primary">Back to List</a>
    </div>
</div>
}